{% extends 'base.html' %}
{% block title %}
Регистрация :: {{ block.super }}
{% endblock %}
{% block content %}
    <div class="auth_block">
        <h1 class="title_login">Регистрация</h1>
        <form method="post" class="form_login">
            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" class="btn">Регистрация</button>
        </form>
    </div>
{% endblock %}